/*
.home-container {
   
    margin: 0 auto;
    padding: 10px;
    text-align: center;  
    padding-top: 100px;
  }
  
  .welcome-message {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .stats-achievements-container {
    
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .statistics,
  .achievements {
    flex: 1;
    border : solid;
    border-radius: 15px;
    margin: 20px;
  }
  
  .bar-chart-placeholder,
  .achievements-placeholder {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    color: #888; 
  }

  */
  /*
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width : 100%;
    background-color: #f0f8ff; 
  }
  
  .welcome-message {
    font-size: 3rem;
    color: #3f3f3f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
  }
  
  .quotes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .quote-text {
    font-size: 1.3rem;
    color: #3f3f3f;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  
  .stats-achievements-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  
  .statistics,
  .achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  
  .statistics h2,
  .achievements h2 {
    font-size: 2rem;
    color: #3f3f3f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
  }
  
  .statistics p,
  .achievements p {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 1rem;
    text-align: center;
  }
  */
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff; /* Light cyan */
    
  }
  .experience-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .experience-card {
    width: calc(75% - 15px);
    margin-bottom: 30px;
    margin-right: 15px;
  }
  
  .experience-card:nth-child(2n) {
    margin-right: 0;
  }
  
  @media (max-width: 767.98px) {
    .experience-card {
      width: 100%;
      margin-right: 0;
    }
  }
  
  .welcome-message {
    padding-top: 10%;
    font-size: 2.5rem;
    color: #3f3f3f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 60rem;
    margin-bottom: 1rem;
  }
  
  .quotes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .quote-text {
    font-size: 1.3rem;
    font-style: italic;
    color: #3f3f3f;
    text-align: center;
    max-width: 45rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color :#242323;
    width: 80%;
  }
  
  .content-title {
    font-size: 2rem;
    color: #3f3f3f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .content-description {
    font-size: 1.2rem;
    color:#242323;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 50rem;
  }
  
  .why-choose-us-title {
    font-size: 2rem;
    color: #3f3f3f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .why-choose-us-description {
    font-size: 1.2rem;
    color: #6c757d;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 50rem;
  }

  .charts-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px !important;
    border-radius: 10px;
   width : 100%;
    box-shadow: 0px 3px 6px #00000012;
    background: transparent linear-gradient(180deg, #f1f1f1 0%, #f2f5f1 100%) 0% 0% no-repeat padding-box;
  }
  
  .sentiment-chart, .hiring-chart {
    width: 45%;
    max-width: 200px;
    position: relative;
  }
  
  