.searchform {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#1d5962, #39766c);
    /* Add your desired styles for the search form here */
}
.search-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 ;
    justify-content: space-between;
  }
  .experiences{
    display: flex;
    flex-direction: column;
    width : 100%;
   
   
    padding: 10px !important;
    border-radius: 10px;
    margin-bottom: 10px !important;
    box-shadow: 0px 3px 6px #00000012;
    background: transparent linear-gradient(180deg, #f4f5fa 0%, #fbfcfe 100%) 0% 0% no-repeat padding-box;
  
  }
  .experiencecard {
    display: flex;
    width: 50%;
    margin-bottom: 1rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px !important;
    box-shadow: 0px 3px 6px #00000012;
  
    background: linear-gradient(to right, #b0dbe7,#d9e1e9);
     
    padding: 10px;
  }
  .search-container {
    padding: 20px;
  }
  
  .search-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .experiencecard {
    margin-bottom: 20px;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-container .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .pagination-container .page-link {
    color: #007bff;
  }
  .doughnut-chart-container {
    width: 400px;
    height : 200px;
    max-width: 400px;
    margin: 0 auto;
  }
  /* Horizontal Bar with Text */
.horizontal-bar {
  padding-top: 10px;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.horizontal-bar .filled {
  background-color: black;
  height: 100%;
}

.horizontal-bar .empty {
  background-color: grey;
  height: 100%;
}
